* {
  box-sizing: border-box;
  margin: 0 0;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1f2937;
  color: #ffffff;
  height: 50px;
}
.header ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 10px;
  padding-right: 50px;
}
.header p {
  font-size: 23.9px;
  font-weight: bold;
  padding-left: 30px;
}
.header a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18.6px;
}
.container p {
  font-weight: 700;
  font-size: 30.6px;
  line-height: 32px;
  color: #000000;
  margin-left: 55px;
  margin-top: 30px;
}
.container button {
  background-color: #3b82f6;
  border-radius: 6px;
  height: 40px;
  border: 1px solid #3b82f6;
  width: 166px;
  font-size: 19.6px;
  font-weight: 500;
  color: #ffffff;
  margin-right: 55px;
  margin-top: 30px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.class {
  background-color: #f3f4f6;
  width: 225px;
  height: 48.5px;
  border-bottom: 1px #e5e7eb;
  padding-left: 10px;
}
.date {
  background-color: #f3f4f6;
  width: 246px;
  height: 48.5px;
  border-bottom: 1px #e5e7eb;
}
.time {
  background-color: #f3f4f6;
  width: 267px;
  height: 48.5px;
  border-bottom: 1px #e5e7eb;
}
.name {
  background-color: #f3f4f6;
  width: 203px;
  height: 48.5px;
  border-bottom: 1px #e5e7eb;
}
.email {
  background-color: #f3f4f6;
  width: 181.38px;
  height: 48.5px;
  border-bottom: 1px #e5e7eb;
}
.action {
  background-color: #f3f4f6;
  width: 246px;
  height: 48.5px;
  border-bottom: 1px #e5e7eb;
}
table {
  margin-top: 25px;
  margin-left: 55px;
  border-collapse: collapse;
  color: #000000;
  font-size: 18px;
  font-weight: 500;
}
tr {
  height: 49px;
  text-align: left;
}
.td {
  padding-left: 10px;
}
.modal-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-container {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-left: 33%;
  margin-top: 10%;
  width: 500px;
  height: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-left: 33%;
  margin-top: 10%;
  border-radius: 8px;
  padding: 17px;
}

.modal-container h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 25px;
}
label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.cancel {
  background: #b0b0b0;
  color: white;
  border-radius: 4px;
  height: 40px;
  width: 60px;
  border: solid 1px #b0b0b0;
}

.cancel:hover {
  background: #9a9a9a;
}

.save {
  background: #3b82f6;
  color: white;
  border-radius: 4px;
  margin-left: 8px;
  height: 40px;
  width: 60px;
  border: 1px solid #3b82f6;
}

.save:hover {
  background: #2563eb;
}
#date {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.delete {
  background-color: rgb(245, 86, 86);
  color: white;
  border: 1px solid rgb(245, 86, 86);
  height: 30px;
  width: 50px;
  border-radius: 4px;
}
.delete:hover {
  background: rgb(250, 2, 2);
}
.edit {
  background-color: rgb(194, 192, 192);
  color: rgb(71, 70, 70);
  border: 1px solid rgb(194, 192, 192);
  height: 30px;
  width: 50px;
  border-radius: 4px;
}
.edit:hover {
  background: rgb(141, 140, 140);
}
.delete-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-left: 33%;
  margin-top: 10%;
  background-color: white;
  margin-top: 10%;
  width: 500px;
  height: 200px;
  border-radius: 8px;
  padding: 25px;
}
.add-schedule:hover {
  background: #2563eb;
}
a:hover {
  color: #9a9a9a;
}
.pagination-button {
  border: none;
  margin: 0 5px;
  padding: 6px 12px;
  background-color: #f1f1f1;
  color: #333;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
}

.pagination-button:hover {
  background-color: #ddd;
}

.pagination-button.active {
  background-color: #4285f4;
  color: white;
  font-weight: bold;
}
